



$font-family-global: 'Exo', sans-serif;


$clr-text-global: #282828; // text-on-light-bg

$clr-main: #ff6d6d; // .btn, .lead
$clr-main-lighter-1: #fb8686; // section.intro
$clr-main-lighter-2: #ff8a8a; // section.design, footer


$clr-white: #ffffff; // section.intro, section.design, footer, text-on-dark-bg
$clr-grey: #ececec; // section.intro
$clr-bg-light: #f6f5f3; // section.features, section.outro

$clr-bg-blue: #323969; // section.contact
$clr-input-bg: #464c77; // input:not([type="submit"])-bg

$breakpoint-large: 1024px;
$breakpoint-medium: 768px;
$breakpoint-small: 375px;

   

// GENERAL STYLES

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
	
}
 
body {
	position: relative;
	z-index: 1;
	
	
	// overflow-x: hidden; /* Hide horizontal scrollbar */

	// font
	font-size: 1.6rem;
	line-height: 2.6rem;
	letter-spacing: 1px;
	font-weight: 500;
	font-family: $font-family-global;
}

// TYPOGRAPHY

h1 {
	font: 6rem/7.5rem $font-family-global;
	margin: 0 0 40px;
	font-weight: 200;
	color: $clr-text-global;
	letter-spacing: 2px;
	// @media (max-width: $breakpoint-large) {
	// 	font-size: ;
	// 	line-height: ;
	// }
	// @media (max-width: $breakpoint-medium) {
	// 	font-size: ;
	// 	line-height: ;
	// }
	 @media (max-width: $breakpoint-small) {
    	  font: 3rem/7.5rem $font-family-global;
    	}
}

h2 {
	font: 4rem/5rem $font-family-global;
	margin: 0 0 40px;
	font-weight: 500;
	color: $clr-text-global;
	letter-spacing: 2px;
	// @media (max-width: $breakpoint-large) {
	// 	font-size: ;
	// 	line-height: ;
	// }
	 @media (max-width: $breakpoint-medium) {
		font-size: 1.6rem ;
	// 	line-height: ;
	 }
	   @media (max-width: $breakpoint-small) {
    	  font-size: 2rem;
    	}
}

h3 {
	font: 2.2rem/3.5rem $font-family-global;
	margin: 0 0 15px;
	font-weight: 500;
	color: $clr-text-global;
	letter-spacing: 1px;
	// @media (max-width: $breakpoint-large) {
	// 	font-size: ;
	// 	line-height: ;
	// }
	 @media (max-width: $breakpoint-medium) {
		font-size: 1.6rem;
	// 	line-height: ;
	// }
	   @media (max-width: breakpoint-small) {
    	font: 1.8rem/2.5rem "Exo", sans-serif;
    	}
}

h4 {
	font: 1.8rem/3rem $font-family-global;
	margin: 0 0 25px;
	font-weight: 500;
	color: $clr-text-global;
	letter-spacing: 1px;
	// @media (max-width: $breakpoint-large) {
	// 	font-size: ;
	// 	line-height: ;
	// }
	// @media (max-width: $breakpoint-medium) {
	// 	font-size: ;
	// 	line-height: ;
	// }
	&.footer-heading {
		font: 1.8rem/2.5rem $font-family-global;
		letter-spacing: 2px;
	}
}

h5 {
	font: 1.4rem/2.4rem $font-family-global;
	margin: 0 0 25px;
	font-weight: 400;
	color: #ccc;
	letter-spacing: 1px;
}

h6 {
	font: 1.4rem/2.4rem $font-family-global;
	margin: 0 0 25px;
	font-weight: 400;
	color: #ccc;
	letter-spacing: 1px;
}


ul {
	list-style: none;
}

a {
	text-decoration: none;
}

p, ul, ol, dl, table, hr, pre, blockquote {
	margin: 0 0 25px;
	line-height: 2.6rem;
}

p {
	 @media (max-width: 375px) {
    	 font-size: 1.4rem;
    	}
}

form {
	margin-bottom: 50px;
}

input, textarea, select {
	outline: none;
}

input, 
textarea {
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $clr-bg-light;
	padding: 15px 25px;
	border: none;
}

input:not([type="submit"]),
textarea {
	background-color: $clr-input-bg;
}

input[type="submit"] {
	background-color: $clr-main;
	font-size: 1.6rem;
}

textarea {
	resize: none;
}

section {
	padding: 170px 0px;
	// overflow: hidden;
	// @media (max-width: $breakpoint-large) {
	// 	padding: ;
	// }
}


// UTILITY CLASS' STYLES

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}


// GRID

.row-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-left: -60px;
	justify-content: center;

	&.small-gap {
	  	margin-left: -30px;

			& > div[class^="col"] { 
				padding-left: 30px;
			}
  	}

	&.no-gap {
  	margin-left: 0px;
  	
		& > div[class^="col"] {
			padding-left: 0px;
		}
	}
}
 
.col-1-3 {
	padding-left: 60px;
	width: calc(100% / 3);
	margin-bottom: 30px;
	@media (max-width: $breakpoint-large) {
		width: 100%;
	}
}

.col-1-4 {
	padding-left: 60px;
	width: 25%;
	margin-bottom: 30px;
	@media (max-width: $breakpoint-large) {
		width: 50%;
	}
	@media (max-width: $breakpoint-medium) {
		width: 100%;
	}
}

.col-1-5 {
	padding-left: 60px;
	width: 20%;
	margin-bottom: 30px;

	@media (max-width: $breakpoint-large) {
		width: calc(100% / 3);		
	}
	@media  (max-width: 480px) {
		width: 100%;		
	}
}
.lead-text{
		font-size: 16px;
		letter-spacing: 3px;
		line-height: 50px;
		color: #ff6d6d;
		text-transform: uppercase;
		font-weight: bold;
		@media (max-width: $breakpoint-small) {
        font-size: 13px;
    	}
	}

.btn {
	display: inline-block;  
	min-width: 190px;
	// min-height: 50px;
	padding: 12px 24px;
	margin-bottom: 15px;
	text-align: center;
	color: $clr-white;
	background-color: $clr-main;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;

	&:active,
	&:hover,
	&:visited {
		color: $clr-white;
	}
}




// SITE STYLES

// header

.site-header {
	min-height: 100vh;
	background-color: transparent;
	position: relative;


		& .showcase-wrapper, 
		& .video-bg {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}

		& .showcase-wrapper {
			display: flex;
			align-items: center;
			text-align: center;

			& .showcase-content {
				display: flex;
				flex-direction: column;
				align-items: center;

				& .video-btn {
				  display: inline-block;
				  width: auto;
				  padding:0;
				  line-height: 0;
				  cursor: pointer;
				  overflow: none;
				  margin-bottom: 40px;
				  // opacity: .7; // ne radi

				  &-img {
				  	width: 60px;
				  	height: 60px;
				  }
				}

				& .info {
					font-size: 14px;
				}
			}
		}

		& .video-wrap {
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100vh;
		  overflow: hidden;
		  z-index: -2;

  		& video {
			  min-width: 100%;
			  min-height: 100%;
			}
		}


}

.video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
}
.video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

// section.intro

.intro{
	position: relative;
	overflow: hidden;
	.form-wrapper{
	max-width: 70%;
	@media (max-width: $breakpoint-medium){
		max-width: 100%;
	}

	}
	.text__wrapper{
		padding-right: 170px;
		@media (max-width: $breakpoint-medium){
			padding: 0;
		}
	}
	
	.lead-text{
		font-size: 16px;
		letter-spacing: 3px;
		line-height: 50px;
		color: #ff6d6d;
		text-transform: uppercase;
		font-weight: bold;
	}


	
	.section-image{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0%;
		left: 57%;
		overflow: hidden;
		background-color: #ececec;
		.rectangle{
			position: absolute;
			height: 1000%;
			width: 100%;
			background-color: $clr-main-lighter-1;
			left: 0;
			bottom: 0;
			transform: rotate(56deg);
			transform-origin: left bottom;


		}
		@media (max-width: 768px){
			display: none;
			visibility: hidden;
		}
	}
	@media (max-width: 768px){
			padding: 30px 0;
		}
}

.features {
     background-size: cover;
     background-position: center center;
     position: relative;
     align-items: center;
     padding-top: 115px;
     padding-bottom: 135px;
     background-color: #f6f5f3;
     overflow: hidden;

     .features-header {
     	padding-top: 50px;
     	padding-bottom: 30px;
     	text-align: center;

        .lead-text {
        	font-size: 16px;
		    letter-spacing: 3px;
		    line-height: 50px;
		    color: #ff6d6d;
		    text-transform: uppercase;
		    font-weight: bold;
        }
     

     }

     .row-wrapper {
         img {
         display: block;
         margin: 0 auto 20px;
         }

         h3 {
         text-align: center;
         padding: 10px;
         }

         p {
     		text-align: center;
     	}
     }

     .features-image {
     	.earphones {
     		position: absolute;
     		max-width: 100%;
     		max-height: 100%;
     		top: -10px;
     		right: 300px;
     		@media (max-width: 1200px) {
	        right: 60px;
	        max-width: 150px;
	}
			@media (max-width: 768px) {
	        right: 20px;
	}
		@media (max-width: 375px) {
	        right: -22px;
	}
	@media (max-width: 300px) {
	        display: none;
	}
     	}   

     	.penholder {
     		position: absolute;
     		top: -15px;
     		left: 215px;
     		max-width: 100%;
     		max-height: 100%;
     		@media (max-width: 1200px) {
		    left: 0px;
		    max-width: 200px;
	}
			@media (max-width: 768px) {
	        right: 60px;
	}
     	}
     	.coffeecup {
     		position: absolute;
     		right: 90px;
     		bottom: -135px;
     		max-width: 100%;
     		max-height: 100%;
     		@media (max-width: 1200px) {
		    right: 90px;
		    max-width: 200px;
	}
			@media (max-width: 768px) {
	        right: 0%;
	}
     	}
     }
 }

.design{
	padding: 100px 0;
	display: flex;
	position: relative;
	overflow: hidden;
	
	&-wrapper{
		display: flex;
		align-items: center;
		@media (max-width: 768px){
			flex-direction: column;
		}
	}
	.design-image{
		width: 100%;
		min-height: 300px;
		background-size: contain;
		background-repeat: no-repeat;
		// position: relative;
		@media (max-width: 768px){
			order: 2;
		}
		@media (max-width: 375px){
           min-height: 220px;
		}
	}

 }

	.design-image-rectangle{
		// content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 48%;
		height: 2000%;
		background-color: $clr-main-lighter-1;
		transform: rotate(-37deg);
		transform-origin: bottom right;
		z-index: -1;
		@media (max-width: 768px){
			top:210%;
			transform: rotate(-51deg);
		}
		
	}
	.design-content{
		max-width: 50%;
		padding-left: 60px;
		span{
			color: $clr-main;
		}
		@media(max-width: 768px){
			max-width: 100%;
			padding-left: 0;
		}
	}
	@media (max-width: 768px){
		padding: 20px 0;
	}

	}


.members{
	text-align: center;
	padding: 50px 0;
	.member-box{
		.member-photo{
			width: 75px;
			height: 75px;
			margin: 0 auto;
		}
		.member-name{
			margin-top: 25px;
			color: #fff;
			margin-bottom: 1px;
			text-transform: capitalize;
		}
		.member-title{
			color: $clr-main;
			padding-bottom: 55px;
			text-transform: capitalize;
		}
		.quote{
			color: #b3b4b6;
			font-size: 1.6rem;
			font-style: italic;
			letter-spacing: 1px;
			line-height: 26px;
			margin: 40px 0;
		}
	}
	.firm-wrapper{
	}
	.firm-logo{
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 70%;
		padding-top: 100%;
		margin: 0 auto;

		@media (max-width: 375px) {
        width: 40%;
		}
	}
	 
}


.contact{
	padding: 90px 0;
	position: relative;
	@media (max-width: 375px){
    padding: 30px 0;
	}
	.section-heading{
		text-align: center;
		h2{
			color:#ffffff;
			margin-bottom: 100px;
		}
	}
	.contact-wrapper{
		text-align: center;
	}
	
	.submit{
		position: relative;
		text-align: center;
		margin: 0 auto;
	}
	.form-submit {
		width: 244px;
		@media (max-width: 375px){
        width: 216px;
		}
	}
	.trial{
		position:absolute;
		top: -62px;
		right: 25px;
		color: #ffffff;
		padding-left: 30px;
		@media (max-width: 375px){
			right: 0px;
			font-size: 14px;
		}
		&::after{
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			top: 60%;
			left: 3%;
			background-image: url(../img/arrow.png);
			background-size: contain;
			background-repeat: no-repeat;
			@media (max-width: 1320px){
				display: none;
			}
		}
		@media (max-width: 1320px){
			top: 66px;
		}
	}

	.terms{
		text-align: center;
		a{
			color: #f6f5f3;
		@media (max-width: 768px){
          font-size: 14px;
		}
			
		}
		span{
			text-decoration: underline;
			@media (max-width: 375px){
            font-size: 14px;
			}
		}
	}
}


.browser {
	background-color: #f6f5f3;
	position: relative;
    align-items: center;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 100px;

    p {
    	padding: 10px 200px;
      @media (max-width: 768px) {
	      padding: 10px 50px;

	}
	  @media (max-width: 375px) {
	      padding: 0px;
	}

    }

    img {
    	max-width: 100%;
    	max-height: 100%;
    }
}
.footer{
	// position: relative;
	padding: 100px 0;
	overflow: hidden;
	.box{
		// flex-direction: column;
	}
	.footer-wrapper{
		position: relative;
		width: 100%;
		&::after{
			content: "";
			position: absolute;
			top: -340%;
			right: -100%;
			width: 1000px;
			height: 1000px;
			background-color: $clr-main;
			transform: rotate(-135deg);
		}
	}
	.newsletter {
		// position: relative;
		.newsletter-input {
			padding-right: 50px;
			background-color: #f6f6f6;
			// position: relative;
			
		}
		.before{
			position: relative;
			width: 100%;
			&::before{
				content: "";
				position: absolute;
				left: 100%;
				top: 50%;
				width: 50px;
				height: 100%;
				background-image: url('../img/newsletter-icon.png');
				background-size: contain;
				background-repeat: no-repeat;
				z-index: 1;
				transform: translateY(-50%);
			}
		}
		
}
